body,
html {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  font-family: sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.car-container {
  animation: 2s ease-in 1s forwards fadeIn;
}

.checkout-cart {
  animation: 2s forwards slideUp;
  color: gray;
  z-index: 1;
  background: white none repeat scroll 0% 0%;
  border-radius: 10px;
  position: fixed;
  width: 50%;
  top: 50%;
  left: 50%;
  margin: 5% 0 0 -25%;
}

.add-to-cart {
  transition: all 0.2s ease-in-out;
}

.cart-icon {
  cursor: pointer;
  position: fixed;
  top: 100px;
  right: -100px;
  background: white;
  border-radius: 3px;
  padding: 10px;
  animation: 2s forwards slideLeft;
  z-index: 2;
}

.add-to-cart:hover {
  transform: scale(1.1);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    top: 1000px;
  }
  to {
    top: 40px;
  }
}

@keyframes slideLeft {
  from {
    right: -100px;
  }
  to {
    right: -6px;
  }
}
